.map {
    height: 500px;
}

#map {
    height: 100%;
}

.form {
    text-align: left;
}

select.ui.dropdown {
    height: 45px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}