.map {
    height: 500px;
}

#map {
    height: 100%;
}

.form {
    text-align: left;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}